* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.overlay {
  z-index: 45;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.aff-wrapper {
  height: 300px;
  max-width: 800px;
  z-index: 50;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  position: absolute;
  bottom: 0;
  width: 50%;
  margin-left: 25%;
  padding: 24px;
  background-color: #fff;
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  -webkit-transition: all .35s;
  transition: all .35s;
}

.aff-wrapper.show {
  -webkit-transform: translateY(5%);
          transform: translateY(5%);
}

.aff-wrapper form {
  display: -ms-grid;
  display: grid;
  z-index: 49;
  background-color: #fff;
  position: relative;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
}

.aff-wrapper form .aff-tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aff-wrapper form .aff-tr input {
  border: none;
  max-width: 250px;
  border-bottom: 1px solid #F95738;
  font-size: 24px;
  color: #525456;
}

.aff-wrapper form .aff-tr input::-webkit-input-placeholder {
  font-size: 24px;
}

.aff-wrapper form .aff-tr input:-ms-input-placeholder {
  font-size: 24px;
}

.aff-wrapper form .aff-tr input::-ms-input-placeholder {
  font-size: 24px;
}

.aff-wrapper form .aff-tr input::placeholder {
  font-size: 24px;
}

.aff-wrapper form .aff-tr .aff-loc {
  position: relative;
}

.aff-wrapper form .aff-tr .aff-loc .filter-menu {
  padding: 4px 0;
  position: absolute;
  top: 30px;
  overflow-y: scroll;
  background-color: #fff;
  max-height: 125px;
  width: 100%;
  max-width: 200px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 5px rgba(200, 200, 200, 0.5);
          box-shadow: 0 0 5px rgba(200, 200, 200, 0.5);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  opacity: 0;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.aff-wrapper form .aff-tr .aff-loc .filter-menu.show {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.aff-wrapper form .aff-tr .aff-loc .filter-menu li {
  list-style-type: none;
  padding: 4px 8px;
  color: #525456;
  font-size: 14px;
  cursor: pointer;
}

.aff-wrapper form .aff-tr .aff-loc .filter-menu li:hover {
  background-color: #f5f5f5;
}

.aff-wrapper form .aff-br h3 {
  color: #757575;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 5px;
}

.aff-wrapper form .aff-br textarea {
  border: none;
  font-size: 24px;
  resize: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #525456;
}

.aff-wrapper form .aff-br textarea::-webkit-input-placeholder {
  font-size: 16px;
  color: #c8c8c8;
}

.aff-wrapper form .aff-br textarea:-ms-input-placeholder {
  font-size: 16px;
  color: #c8c8c8;
}

.aff-wrapper form .aff-br textarea::-ms-input-placeholder {
  font-size: 16px;
  color: #c8c8c8;
}

.aff-wrapper form .aff-br textarea::placeholder {
  font-size: 16px;
  color: #c8c8c8;
}

.aff-wrapper form .aff-footer {
  bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 300px;
  max-width: 750px;
}

.aff-wrapper form .aff-footer div {
  padding: 8px 12px;
  font-size: 24px;
  background-color: #fff;
  color: #F95738;
  border-radius: 6px;
  border: 1px solid #F95738;
  min-width: 125px;
  text-align: center;
  font-weight: 703000;
  cursor: pointer;
}

.aff-wrapper form .aff-footer button {
  padding: 8px 12px;
  font-size: 24px;
  border: none;
  margin-left: 10px;
  border-radius: 6px;
  background: -webkit-gradient(linear, left top, right top, from(#F95738), to(#f93878));
  background: linear-gradient(to right, #F95738, #f93878);
  color: #fff;
  font-weight: 300;
  min-width: 125px;
  text-align: center;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .aff-wrapper {
    width: 100vw;
    margin-left: 0;
  }
  .aff-wrapper form .aff-tr input {
    max-width: 135px;
  }
  .aff-wrapper form .aff-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .aff-wrapper form .aff-footer button {
    margin-left: 5px;
  }
}
/*# sourceMappingURL=AddFriendFragment.css.map */