@import '../variables';
html {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}
.fl-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    & .fl-container {
        width: 100%;
        height: 85vh;
        overflow-y: scroll;
    }
}

.fn-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 2px 2px 4px $shadowLight;
    cursor: pointer;
    img {
        width: 100%;
        // border-top-left-radius: 6px;
        // border-bottom-left-radius: 6px;
        border-radius: 6px;
    }
    & .fn-md {
        display: grid;
        grid-template-rows: 2fr 3fr;
        padding: 6px 8px;
        & .fn-md-tr {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            & h3 {
                color: $textPrimary;
                font-size: 18px;
            }
            & h4 {
                color: $textPrimary;
                font-size: 16px;
                font-weight: 400;
            }
        }
        p {
            align-self: center;
            max-height: 32px;
            line-height: 16px;
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        // border: 1px solid red;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .fl-wrapper {
        padding: 16px;
    }
    .fn-container {
        width: 95%;
        margin-left: 2.5%;
    }
}