@import '../variables';
html {
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}
.fl-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    & .fl-container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        gap: 16px;
        width: 100%;
        padding: 8px;
        overflow-y: scroll;
    }
}

.fn-container {
    border-radius: 8px;
    padding: 16px;
    max-height: 125px;
    box-shadow: 0 0 5px $shadowLight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img {
        display: block;
        margin: auto;
        border-radius: 50%;
        height: 75px;
        width: 75px;
        margin-bottom: 8px;
    }
    h3 {
        color: $textPrimary;
        font-size: 18px;
        text-align: center;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .fl-wrapper {
        padding: 16px;
        & .fl-container {
            grid-template-columns: repeat(2,1fr);
        }
    }
}