@import '../variables';

.sb-wrapper {
    padding: 16px;
    width: 100%;
    margin: 15vh auto 0 auto;
    position: relative;
    max-width: 500px;
    background-color: $bg;
    border-radius: 40px;
    box-shadow: 0 2px 5px $shadowLight;
    transition: all .35s;
    & .sb-container {
        height: 50px;
        width: 100%;
        border-radius: 30px;
        box-shadow: none;
        background-color: $bg;
        display: grid; 
        grid-template-columns: 2fr 1fr;
        transition: all .35s;
        & .sb-f {
            background: linear-gradient(to right, $primary, #f93878 );
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 12px;
            color: $bg;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            cursor: pointer;
        }
        & .sb-s {
            align-self: center;
            padding: 0 12px;
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            & .material-icons {
                color: $primary;
                padding: 8px;
                cursor: pointer;
                &.close {
                    position: absolute;
                    color: $disabledText;
                    right:0;
                }
            }
            input {
                margin-left: 10px;
                border: none;
                width: 90%;
                font-size: 20px;
                color: $textPrimary;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .sb-wrapper {
        border-radius: 0 40px 0 0;
        box-shadow: none;
        & .sb-container {
            box-shadow: 0 2px 5px $shadowLight;
        }
    }
}
