// SURFACE
$bg: #fff;
$primary: #F95738;
$secondary: #f93878;
$other1: #EE964B;
$other2: #F4D35E;
$other3: #FAF0CA;
$shadowLight: rgba(200,200,200,.5);
$shadowDark: rgba(82,84,86,.5);

// TEXT
$textPrimary: #525456;
$textSecondary: #777;
$disabledText: #c8c8c8;
